/DayOne/ConsoleApplication1/Debug
/DayOne/ConsoleApplication1/ConsoleApplication1/Debug
/DayOne/ConsoleApplication1/.vs
/DayOne/ConsoleApplication1/x64
/DayOne/ConsoleApplication1/ConsoleApplication1/x64
